#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: lightblue; */
    box-sizing: border-box;
    padding: 10px;
}
.searchStock {
    min-width: 500px;
    padding: 10px;
    border: 1px solid rgb(45, 177, 253)
}

.partsBody, .part1, .part2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.part2 {
    text-align: right;
}
.stockType {
    color: whitesmoke;
    background-color: rgb(179, 179, 179);
    border-radius: 3px; 
    font-size: 14px;
    width: fit-content;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}
.hiddenButtons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.hiddenButtons button {
    cursor: pointer;
    background-color: lightgray;
    border: 1px solid grey;
    border-radius: 2px;
}
.hiddenButtons button:hover {
    transform: scale(1.1);
}

.part{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    min-width: 500px;
    text-align: left;
    color: green;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border-bottom: 2px solid lightgrey;
}
.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    min-width: 520px;
    background-color: rgb(214, 229, 247);
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(0,127,255);
}

.part:hover {
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}
.percent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

::placeholder{
    font-size: 16px;
}