#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 13px;
    box-shadow: 0px 0px 7px rgb(1,73,157);
    width: fit-content;
    border-radius: 5px;
    margin: auto;
}
div > input{
    border-radius: 4px;
}
.searchStock {
    min-width: 500px;
    padding: 10px;
    border: 1px solid rgb(45, 177, 253)
}

.partsBody, .part1, .part2{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.partsBody{
    max-height: 540px;
    overflow-y: scroll;
}
.partsBody::-webkit-scrollbar{
    display: none;
}
.part2 {
    text-align: right;
}
.stockType {
    color: whitesmoke;
    background-color: rgb(179, 179, 179);
    border-radius: 3px; 
    font-size: 14px;
    width: fit-content;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}
.hiddenButtons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.hiddenButtons button {
    cursor: pointer;
    background-color: rgb(172, 216, 243);
    border: none;
    border-radius: 2px;
}
.hiddenButtons button:hover {
    transform: scale(1.1);
}

.part{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    min-width: 500px;
    text-align: left;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border-bottom: 2px solid lightgrey;
}
.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    min-width: 520px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 5px;
    color: rgb(75, 122, 250)
}

.part:hover {
    cursor: pointer;
    background-color: rgb(240, 248, 255)
}
.percent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

::placeholder{
    font-size: 16px;
}
.nav{
    margin-top: 0px;
    font-family: monospace;
    letter-spacing: 2px;
    padding: 16px;
    background-color: rgb(214, 229, 247);
    box-shadow: 0px 0px 4px rgb(1,73,157);
    color: rgb(61, 112, 250)
}
.bt{
    color: white;
}